/* styles which apply globally */

* {
  font-family: "Nunito", sans-serif;
  font-size: 14pt;
  box-sizing: border-box;
}

.title {
  font-size: 1.5rem;
  color: #bf4e30;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 0px;
  height: 95%;
  margin: 0;
  min-height: 100vh;
}

/* header */

header {
  grid-column: 1/6;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
}

  /* banner */

  #banner {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }

    /* branding logo and title */

    #branding {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    #logo {
      height: 3rem;
    }

    #branding p {
      margin: 0;
    }

    /* profile button and icon */

    #profile-button {
      border: none;
      padding: 0;
    }

    #profile-icon {
      height: 2.5rem;
    }

    #profile-icon:hover {
      filter: brightness(80%);
    }

hr {
  border: none;
  margin: 0;
  height: 2px;
  background-color: rgb(181, 181, 3);
  width: 100%;
}

/* navigation */
#navigation-bar {
  grid-column: 1/2;
  grid-row: 2/10;
  background-color: #eaf8bf;
  border-radius: 5px;
  margin-left: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main {
  grid-column: 2/6;
  grid-row: 2/10;
  border-radius: 5px;
  padding: 0em 0.5em;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: scroll;
}
#hidden {
  grid-column: 1/6;
  grid-row: 1/10;
}


#New_Application {
  background-color: white;
  color: #1e6320;
  border: 2px solid #1e6320;
}

#New_Application:hover {
  background-color: #1e6320;
  color: white;
}
#bar_list {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
#New_Application {
  background-color: white;
  border-radius: 5px;
  margin-top: auto;
  font-size: 16pt;
  font-weight: bold;
  color: #1e7a1d;
  border: 1px solid #1e7a1d;
}

#search_bar {
  border-radius: 20px;
}
#text {
  font-size: 18pt;
  font-weight: bold;
  color: #1e7a1d;
}
#sort_hr {
  border: 1px solid #1e7a1d;
  margin: 0px;
}
